* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}

.list-item:nth-child(odd) {
  background-color: #dcdcdc;
}

.list-item {
  padding: 20px;
}

.box {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}

.box-item {
  height: 200px;
  width: 30%;
  margin: 20px auto;
  display: inline-block;
}

.box-item:nth-child(1) {
  background-color:orange; 
}

.box-item:nth-child(2) {
  background-color: yellow;
  margin: 20px 5%;
}

.box-item:nth-child(3) {
  background-color: yellow;
}

.box-item:nth-child(4) {
  background-color: yellow;
}

.box-item:nth-child(5) {
  background-color: orange;
  margin: 20px 5%;
}

.box-item:nth-child(6) {
  background-color: yellow;
}

.box-item:nth-child(7) {
  background-color: yellow;
}

.box-item:nth-child(8) {
  background-color: yellow;
  margin: 20px 5%;
}

.box-item:nth-child(9) {
  background-color: orange;
}